.group-item {
  padding: 0.75rem 1.25rem;
  border-radius: 0.75rem;
  font-weight: 500;
  color: black;
  background-color: #f0fdf4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  border-left: 6px solid #22c55e;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer; /* Dodato */
}

.group-item:hover {
  transform: scale(1.02);
  background-color: #dcfce7;
}
